/* Main elements */

.menu {
    background-image: url(../images/BackgroundSFlarge.png);
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: goldenrod;
}

.menu__title {
    padding-top: 8px;
    text-align: center;
    font-size: 25px;
}

.menu__character {
    font-size: 20px;
    padding-top:  10px;
    padding-left: 60px;
    margin: 0px 455px 0px 90px;
    display: grid;
    grid-template-columns: 2fr 0.5fr 1fr 1.5fr 1fr 0.5fr;
    grid-template-rows: 1fr auto 1fr; 
    gap: 10px;
}

 /* First row */

.menu__abilityPointsName {
    grid-column: 2 / span 2;
    text-align: center;
}

.menu__attributePointsName {
    text-align: right;
    grid-column: 5 / span 2;
}

/* Second row, first column (Abilities) */

.menu__abilityList {
    padding-left: 0px;
}

.menu__ability {
    list-style: none;
}

/* Second row, second column (Ability Level) */

.menu__abilityPoint {
    list-style: none;
    color: cornsilk;
}

/* Second row, third column (Attribute Arrows) */

.menu__abilityArrowsList {
    padding-left: 0px;
    padding-top: 8px;
}


.menu__arrow {  /* This class is used for other arrows too*/
    list-style: none;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid blanchedalmond;
    margin-bottom: 13px;
    transition: 1s;
}

.menu__arrow:hover { /* This class is used for other arrows too*/
    border-bottom: 10px solid hsl(36, 100%, 80%);
    transform: scale(1.1);
}

/* Second row, fourth column (Attributes) */

.menu__attributesList {
    color: cornsilk;
    line-height: 110%;
    padding-left: 0px;
    list-style: none;
}

.menu__attPointsList {
    padding-left: 0px;
}

.menu__attribute {
    margin-bottom: 1px;
}


/* Second row, fifth column (Attribute Levels) */

.menu__attPoint {
    list-style: none;
    text-align: right;
    color: cornsilk;
}

/* Second row, sixth column (Attribute Arrows) */

.menu__attributeArrows {
    padding-left: 0px;
    padding-top: 7px;
}

/* Third row , first column (new Skill Button) */

.menu__buttonContainer {
    align-self: end;
    grid-column: 1;
    user-select: none;
}

.menu__button {
    background-color: blanchedalmond;
    text-transform: uppercase;
    font-family: 'Uncial Antiqua';
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 12px;
    transition: 1s;
}

.menu__button:hover {
    background-color: hsl(36, 100%, 80%);
    transform: scale(1.1);
}

/* Third row , second and third column (Available Attribute Points) */

.menu__attributePointsTotal {
    user-select: none;
    font-size: 20px;
    grid-column: 3 / span 2;
    align-self: end;
}

.menu__attributePointsAvailable {
    color: blanchedalmond;
}

/* Third row , fourth and fifth column (Character Level) */

.menu__level {
    font-size: 20px;
    align-self: end;
    grid-column: 5;
    user-select: none;
}

.menu__level__number {
    color: cornsilk;
}

/* Third row , sixth  column (Level Arrow) */

.menu__level__arrow {
    align-self: end;
    padding-bottom: 12px;
}